<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{ 'css/style.css'|asset }}" rel="stylesheet" />
        <link href="{{ 'images/favicon.png'|asset }}" rel="icon" type="image/png" />
        <title>Bad Request</title>
    </head>
    <body>
        <div class="hero is-fullheight">
            <div class="hero-body">
                <div class="container is-fluid">
                    <div class="has-text-centered">
                        <h1 class="title">Bad Request</h1>
                        <h2 class="subtitle">HTTP Status Code: 400</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
