<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>{{ subject }}</title>
    </head>
    <body>
        <h3>{{ subject }}</h3>
        <div>
            {{ body }}
        </div>
    </body>
</html>
