<nav class="navbar">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/'|link }}">
                <h1 class="title">{{ app.name }}</h1>
            </a>
        </div>
    </div>
</nav>
